<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recipies Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      padding: 25px;
      background-color: #222;
      border-color: #080808;
    }
  
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'recipies:index'  %}">RecipieManager</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipies:update_profile' %}"><span class="fa fa-user"></span> Update Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipies:change_password' %}"><span class="fa fa-lock"></span> Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipies:logout' %}"><span class="fa fa-sign-out"></span> Logout</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipies:login' %}"><span class="fa fa-sign-in"></span> Login</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>

{% if messages %}
      <div class="alert alert-{{ message }}">
          {{ message }}
      </div>
{% endif %}

{% block content %}
{% endblock %}
<br>

<footer class="container-fluid text-center">
  <p>Created by x21188947</p>
</footer>

</body>
</html>
