{% extends 'recipies/base.html' %}
{% load bootstrap4%}
{% block content %}
<div class="container text-center">    
<br>
  <h3>Bonjour</h3><br>
<br>


 <div class="container">
  <div class="row">
    {% for recipe in recipes %}
      <div class="col-md-6 col-lg-4">
        <div class="card mb-4">
          <img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ recipe.description }}</p>
            <p class="card-text">Avg Rating {{ recipe.avg_rating }}</p>
            <a href="{% url 'recipies:recipe_view' recipe.id %}" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
<br>

{% endblock %}


